<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" 
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link href="/css/gallery.css" rel="stylesheet" type="text/css">

<% if (!isRoot){ %>
  <nav class="breadcrumb">

  <% for (var i=0; i<breadcrumb.length; i++) { %>
  <% if (i==breadcrumb.length-1){ %>
  <%= breadcrumb[i].name %>
  <% }else{ %>
  <a href="<%= breadcrumb[i].url %>"> <%= breadcrumb[i].name %> &raquo; </a>
  <% } %>
  <% } %>

  </nav>
<% } %>

<h1 class="album-title"><%= name %></h1>

<% if (albums.length>0){ %>
  <h2>Albums</h2>
  <ul class="albums">
    <% albums.forEach(function(album){ %>
      <% if (album.thumbPath){ %>
        <li class="thumb">
          <a href="/<%= album.url %>">
            <figure>
              <img src="/<%= album.thumbPath %>" alt="<%= album.name %>"/>
              <figcaption><%= album.name %></figcaption>
            </figure>
          </a>
        </li>
      <% } %>
    <% }) %>
  </ul>
<% } %>

<% if (photos.length>0){ %>
  <h2>Photos</h2>
  <div class="slidecontainer">
    <p>Width: <span id="width"></span></p>
    <input type="range" min="1" max="150"
      value="13" class="slider" id="imgWidth">
  </div>
  <div class="slidecontainer">
    <p>Height: <span id="height"></span></p>
    <input type="range" min="1" max="150"
      value="13" class="slider" id="imgHeight">
  </div>
  <div class="photos">
    <% photos.forEach(function(photo){ %>
      <div class="photo-in-album">
        <div class="photo-content">
          <a class="dbclick", href="/<%= photo.url %>">
            <figure>
              <img src="/<%= photo.path %>" alt="<%= photo.name %>"
                  data-zoom-image="/<%= photo.path %>"/>
            </figure>
          </a>
        </div>
      </div>
    <% }) %>
  </div>
<% } %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/web-animations/2.3.1/web-animations.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
<script src="https://unpkg.com/muuri@0.6.3/dist/muuri.min.js"></script>

<script>
$(document).ready(function() {
  let grid = new Muuri(
    '.photos',
    {dragEnabled: true, layout: {fillGaps: true}});
});
</script>

<script>
jQuery(function($) {
  $('.dbclick').click(function() {
    return false;
  }).dblclick(function() {
    window.location = this.href;
    return false;
  }).keydown(function(event) {
    switch (event.which) {
      case 13: // Enter
      case 32: // Space
      window.location = this.href;
      return false;
    }
  });
});
</script>

<script>
let sliderW = document.getElementById("imgWidth");
let outputW = document.getElementById("width");
outputW.innerHTML = sliderW.value;
$('.photos img').width(`${sliderW.value}vw`);
sliderW.oninput = function() {
  $('.photos img').width(`${this.value}vw`).height('auto');
  outputW.innerHTML = this.value;
}
</script>

<script>
let sliderH = document.getElementById("imgHeight");
let outputH = document.getElementById("height");
outputH.innerHTML = sliderH.value;
sliderH.oninput = function() {
  $('.photos img').height(`${this.value}vh`).width('auto');
  outputH.innerHTML = this.value;
}
</script>
